{% extends 'main/base.html' %}


{% block title %}
    Result
{% endblock %}


{% block content %}
        {% if tasks1 %}

            <div class="">
            <div class="display-5">Words1 = </div>
                <p class="lead">{{tasks1.words1}}</p><br>
                <div class="display-5">Words2 = </div>
                <p class="lead">{{tasks1.words2}}</p><br>
            </div>

            <div class="display-5">Result = </div>
            <p class="lead">{{ res }}</p>
            <button type="button" class="btn btn-secondary my-2">
                <a href="{% url 'home' %}" style="color:white">
                    <i class="fas fa-pen"></i>Home
                </a>
            </button>
    {% endif %}

{% endblock %}