{% extends 'main/base.html' %}


{% block title %}
    Result
{% endblock %}


{% block content %}
        {% if tasks2 %}

            <div class="">
            <h1>Massiv = </h1>
                <h3>{{tasks2.massiv}}</h3><br>
                <h1>Target = </h1>
                <p>{{tasks2.target}}</p><br>
            </div>

            <h1>Indices:</h1>
        <ul>
            {% for indices in indices_list %}
                <li>{{ indices }}</li>
            {% endfor %}
        </ul>
            <button type="button" class="btn btn-info btn-sm">
                <a href="{% url 'home' %}" style="color:white">
                    <i class="fas fa-pen"></i>Home
                </a>
            </button>
    {% endif %}

{% endblock %}