{% extends 'main/base.html' %}


{% block title %}
    Result
{% endblock %}


{% block content %}
        {% if tasks2 %}
            <div class="display-5">Massiv </div>
                <p class="lead">{{tasks2.massiv}}</p><br>
                <div class="display-5">Target </div>
                <p class="lead">{{tasks2.target}}</p><br>
            <div class="display-5">Indices:</div>
            <ul>
                {% for indices in indices_list %}

                    <li >{{ indices }}</li>
                {% endfor %}
            </ul>
            </div>


            <button type="button" class="btn btn-secondary my-2">
                <a href="{% url 'home' %}" style="color:white">
                    <i class="fas fa-pen"></i>Home
                </a>
            </button>
    {% endif %}

{% endblock %}